@model LPBugTracker.Models.ApplicationUser

@using LPBugTracker.Models
@using LPBugTracker.Helpers
@{
    ViewBag.Title = "Index";
    UserRolesHelper rolesHelper = new UserRolesHelper();
    ApplicationDbContext db = new ApplicationDbContext();
    ProjectHelper projHelper = new ProjectHelper();
}
<!-- page content -->
<div class="right_col" role="main">
    <div class="">
        <div class="page-title">
            <div class="title_left">
                <p class="text-success">@ViewBag.StatusMessage</p>
                <h3>User Profile</h3>
            </div>

            
        </div>

        <div class="clearfix"></div>

        <div class="row">
            <div class="col-md-12 col-sm-12 col-xs-12">
                <div class="x_panel">
                    <div class="x_title">
                        <h2>User Report <small>Activity report</small></h2>
                        <div class="clearfix"></div>
                    </div>
                    <div class="x_content">
                        <div class="col-md-3 col-sm-3 col-xs-12 profile_left">
                            <div class="profile_img">
                                <div id="crop-avatar">
                                    <!-- Current avatar -->
                                    <img class="img-responsive avatar-view" src="@Model.AvatarPath" Avatar" title="Change the avatar">
                                </div>
                            </div>
                            <h3>@Model.FullName</h3>

                            <ul class="list-unstyled user_data">
                                @*<li>
                <i class="fa fa-map-marker user-profile-icon"></i> San Francisco, California, USA
            </li>*@

                                <li>
                                    <i class="fa fa-briefcase user-profile-icon"></i> @rolesHelper.ListUserRoles(Model.Id).FirstOrDefault()
                                </li>

                                @*<li class="m-top-xs">
                <i class="fa fa-external-link user-profile-icon"></i>
                <a href="http://www.kimlabs.com/profile/" target="_blank">www.kimlabs.com</a>
            </li>*@
                            </ul>

                            <a class="btn btn-success" href="#ProfileModal" data-toggle="modal"><i class="fa fa-edit m-right-xs"></i>Edit Profile</a>
                            <br />

                            

                        </div>
                        <div class="col-md-9 col-sm-9 col-xs-12">

                            <div class="profile_title">
                                <div class="col-md-6">
                                    <h2>User Activity Report</h2>
                                </div>
                                <div class="col-md-6">
                                    @*<div id="reportrange" class="pull-right" style="margin-top: 5px; background: #fff; cursor: pointer; padding: 5px 10px; border: 1px solid #E6E9ED">
                                        <i class="glyphicon glyphicon-calendar fa fa-calendar"></i>
                                        <span>December 30, 2014 - January 28, 2015</span> <b class="caret"></b>
                                    </div>*@
                                </div>
                            </div>

                            <div class="" role="tabpanel" data-example-id="togglable-tabs">
                                <ul id="myTab" class="nav nav-tabs bar_tabs" role="tablist">
                                    <li role="presentation" class="active">
                                        <a href="#tab_content1" id="home-tab" role="tab" data-toggle="tab" aria-expanded="true">Recent Comments</a>
                                    </li>
                                    <li role="presentation" class="">
                                        <a href="#tab_content2" role="tab" id="profile-tab" data-toggle="tab" aria-expanded="false">Projects Worked on</a>
                                    </li>
                                    @*<li role="presentation" class="">
                                        <a href="#tab_content3" role="tab" id="profile-tab2" data-toggle="tab" aria-expanded="false">Profile</a>
                                    </li>*@
                                </ul>
                                <div id="myTabContent" class="tab-content">
                                    <div role="tabpanel" class="tab-pane fade active in" id="tab_content1" aria-labelledby="home-tab">
                                        @{ var userComments = db.Comments.Where(h => h.UserId == Model.Id);}
                                        <!-- start recent activity -->
                                        
                                            @if (userComments.Count() > 0)
                                            {
                                                <ul class="messages">
                                                @foreach (var comment in userComments)
                                                {
                                                    <li>
                                                        <img src="@comment.User.AvatarPath" class="avatar" alt="Avatar">
                                                        <div class="message_date">
                                                            <h3 class="date text-info">@comment.Created.ToString("dd")</h3>
                                                            <p class="month">@comment.Created.ToString("MMMM")</p>
                                                        </div>
                                                        <div class="message_wrapper">
                                                            <h4 class="heading">@comment.Ticket.Title</h4>
                                                            <blockquote class="message">@Html.Raw(comment.CommentBody)</blockquote>
                                                            <br />
                                                        </div>
                                                    </li>
                                                }
                                                    </ul>

                                            }
                                        
                                            else
                                            {
                                                <div class="row text-center">
                                                    <p>No Recent Activity to Display.</p>
                                                </div>
                                                
                                            }


                                        
                                        <!-- end recent activity -->

                                    </div>
                                    <div role="tabpanel" class="tab-pane fade" id="tab_content2" aria-labelledby="profile-tab">
                                        @{
                                            var userProjects = projHelper.ListUserProjects(Model.Id);
                                            var count = 1;
                                        }
                                        @if (userProjects.Count() > 0)
                                        {
                                            <table class="data table table-striped no-margin">
                                                <thead>
                                                    <tr>
                                                        <th>#</th>
                                                        <th>Project Name</th>
                                                        <th>Role</th>
                                                        <th>Resolved Tickets</th>
                                                        <th>Open Tickets</th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    @foreach (var project in userProjects)
                                                    {

                                                        <tr>
                                                            <td>@count</td>
                                                            <td>@project.Name</td>
                                                            <td>@rolesHelper.ListUserRoles(Model.Id).FirstOrDefault()</td>
                                                            <td>@project.Tickets.Where(t => t.Status.Name == "Resolved").Count()</td>
                                                            <td>@project.Tickets.Where(t => t.Status.Name != "Resolved").Count()</td>
                                                        </tr>
                                                        count++;
                                                    }
                                                </tbody>
                                            </table>
                                        }
                                        else
                                        {
                                            <div class="row text-center">
                                                <p>This user is not currently assigned to any projects.</p>
                                            </div>
                                        }

                                    </div>
                                    <div role="tabpanel" class="tab-pane fade" id="tab_content3" aria-labelledby="profile-tab">
                                        <p>
                                            xxFood truck fixie locavore, accusamus mcsweeney's marfa nulla single-origin coffee squid. Exercitation +1 labore velit, blog sartorial PBR leggings next level wes anderson artisan four loko farm-to-table craft beer twee. Qui
                                            photo booth letterpress, commodo enim craft beer mlkshk
                                        </p>
                                    </div>
                                    @if(rolesHelper.ListUserRoles(Model.Id).Count() < 1)
                                    {
                                        <hr />
                                        <h2>Thank you for Registering!</h2>
                                        <p>You have not yet been assigned to a role. If you believe this is an error, please contact a System Admin.</p>
                                    }
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- /page content -->
<!-- footer content -->
<footer>
    <div class="pull-right">
        A Lukas Parsons Portfolio Project. (2019)
    </div>
    <div class="clearfix"></div>
</footer>
<!-- /footer content -->

<!-- Edit Profile Modal -->
<div class="modal fade" id="ProfileModal" tabindex="-1" role="dialog" aria-hidden="true">
    <div id="modal1" class="modal-dialog">
        <div class="modal-content">
            <div class="container-fluid">
                <div class="modal-body">
                    <div class="row">
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                        <h3>Edit Profile</h3>
                    </div>
                    <hr />
                    <div class="row">
                        @using (Html.BeginForm("UpdatePicture", "Profile", FormMethod.Post, new { @class = "col-md-6 form-horizontal form-label-left input_mask list-group-item", enctype = "Multipart/form-data" }))
                        {
                            @Html.AntiForgeryToken()
                            <div class="form-group">
                                <div class="row">
                                    <div class="col-md-12">
                                        <input name="image" type="file" class="form-control-file" id="fileUpload" />
                                        <button type="submit" class="btn btn-xs btn-primary">Change Avatar</button>
                                    </div>
                                </div>
                            </div>
                        }
                        @using (Html.BeginForm("Edit", "Profile", FormMethod.Post))
                        {
                            @Html.AntiForgeryToken()
                            <div class="form-group">
                                <div class="row">
                                    <div class="col-md-12">
                                        @Html.ValidationSummary("", new { @class = "text-danger" })
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="row">
                                    <div class="col-md-12">
                                        @Html.Label("FirstName", "First Name")
                                        @Html.TextBox("FirstName", null, new { @class = "form-control" })
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="row">
                                    <div class="col-md-12">
                                        @Html.Label("LastName", "Last Name")
                                        @Html.TextBox("LastName", null, new { @class = "form-control" })
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="row">
                                    <div class="col-md-12">
                                        @Html.Label("DisplayName", "Display Name")
                                        @Html.TextBox("DisplayName", null, new { @class = "form-control" })
                                    </div>
                                </div>
                            </div>
                            <div class="collapse" id="passwordcollapse">
                                <div class="card card-body">
                                    <div class="form-group">
                                        <div class="row">
                                            <div class="col-md-12">
                                                @Html.Label("oldpassword", "Old Password")
                                                @Html.Password("oldpassword", null, new { @class = "form-control", data_val = "true", data_val_required = "The Current password field is required.", id = "oldpassword" })
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <div class="row">
                                            <div class="col-md-12">
                                                @Html.Label("newpassword", "New Password")
                                                @Html.Password("newpassword", null, new { @class = "form-control", data_val = "true", data_val_length = "The New password must be at least 6 characters long.", data_val_length_max = "100", data_val_length_min = "6", data_val_required = "The New password field is required.", id = "newpassword" })
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <div class="row">
                                            <div class="col-md-12">
                                                @Html.Label("confirmpassword", "Confirm Password")
                                                @Html.Password("confirmpassword", null, new { @class = "form-control", data_val = "true", data_val_equalto = "The new password and confirmation password do not match.", data_val_equalto_other = "*.newpassword" })
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <a class="btn btn-primary btn-sm" data-toggle="collapse" href="#passwordcollapse" role="button" aria-expanded="false" aria-controls="passwordcollapse">
                                Change Password
                            </a>


                            <div class="form-group">
                                <div class="row">
                                    <div class="col-md-12">
                                        <input type="submit" value="Save Changes" class="btn btn-success" />
                                    </div>
                                </div>
                            </div>
                        }
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>