@model LPBugTracker.Models.Project

@{
    ViewBag.Title = "Details";
}




<!-- page content -->
<div class="right_col" role="main">
    <div class="">
        <div class="page-title">
            <div class="title_left">
                <h3>Project Detail</h3>
            </div>

            <div class="title_right">
                <div class="col-md-5 col-sm-5 col-xs-12 form-group pull-right top_search">
                    <div class="input-group">
                        <input type="text" class="form-control" placeholder="Search for...">
                        <span class="input-group-btn">
                            <button class="btn btn-default" type="button">Go!</button>
                        </span>
                    </div>
                </div>
            </div>
        </div>

        <div class="clearfix"></div>

        <div class="row">
            <div class="col-md-12">
                <div class="x_panel">
                    <div class="x_title">
                        <h2>@Model.Name</h2>
                        <ul class="nav navbar-right panel_toolbox">
                            <li>
                                <a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                            </li>
                            <li class="dropdown">
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"><i class="fa fa-wrench"></i></a>
                                <ul class="dropdown-menu" role="menu">
                                    <li>
                                        <a href="#">Settings 1</a>
                                    </li>
                                    <li>
                                        <a href="#">Settings 2</a>
                                    </li>
                                </ul>
                            </li>
                            <li>
                                <a class="close-link"><i class="fa fa-close"></i></a>
                            </li>
                        </ul>
                        <div class="clearfix"></div>
                    </div>

                    <div class="x_content">

                        <div class="col-md-9 col-sm-9 col-xs-12">

                            <ul class="stats-overview">
                                <li>
                                    <span class="name"> Open Tickets </span>
                                    <span class="value text-success"> @ViewBag.OpenTicketsCount </span>
                                </li>
                                <li>
                                    <span class="name"> Unassigned Tickets </span>
                                    <span class="value text-success"> @ViewBag.UnassignedTicketsCount </span>
                                </li>
                                <li class="hidden-phone">
                                    <span class="name"> Client Contact Needed Tickets: </span>
                                    <span class="value text-success"> @ViewBag.MoreInfoTicketsCount </span>
                                </li>
                            </ul>
                            <br />

                            <div id="" style="height:350px;">
                                <table class="text-center" style="width:100%">
                                    <tr>
                                        <th style="width:37%;">
                                            <p>Ticket Status</p>
                                        </th>
                                        @*<th>
                                            <div class="col-lg-7 col-md-7 col-sm-7 col-xs-7">
                                                <p class="">Device</p>
                                            </div>
                                            <div class="col-lg-5 col-md-5 col-sm-5 col-xs-5">
                                                <p class="">Progress</p>
                                            </div>
                                        </th>*@
                                    </tr>
                                    <tr>
                                        <td>
                                            <div id="ticketCanvas" class="canvasDoughnut" height="220" width="220" style="margin: 15px 10px 10px 0"></div>


                                            <canvas id="ticketCanvasTest" class="canvasDoughnut" height="220" width="220" style="margin: 15px 10px 10px 0"></canvas>
                                        </td>
                                        @*<td>
                                            <table class="tile_info">
                                                <tr>
                                                    <td>
                                                        <p><i class="fa fa-square blue"></i>IOS </p>
                                                    </td>
                                                    <td>30%</td>
                                                </tr>
                                                <tr>
                                                    <td>
                                                        <p><i class="fa fa-square green"></i>Android </p>
                                                    </td>
                                                    <td>10%</td>
                                                </tr>
                                                <tr>
                                                    <td>
                                                        <p><i class="fa fa-square purple"></i>Blackberry </p>
                                                    </td>
                                                    <td>20%</td>
                                                </tr>
                                                <tr>
                                                    <td>
                                                        <p><i class="fa fa-square aero"></i>Symbian </p>
                                                    </td>
                                                    <td>15%</td>
                                                </tr>
                                                <tr>
                                                    <td>
                                                        <p><i class="fa fa-square red"></i>Others </p>
                                                    </td>
                                                    <td>30%</td>
                                                </tr>
                                            </table>
                                        </td>*@
                                    </tr>
                                </table>
                            </div>

                            <div>

                                <h4>Recent Activity</h4>

                                <!-- end of user messages -->
                                <ul class="messages">
                                    <li>
                                        <img src="images/img.jpg" class="avatar" alt="Avatar">
                                        <div class="message_date">
                                            <h3 class="date text-info">24</h3>
                                            <p class="month">May</p>
                                        </div>
                                        <div class="message_wrapper">
                                            <h4 class="heading">Desmond Davison</h4>
                                            <blockquote class="message">Raw denim you probably haven't heard of them jean shorts Austin. Nesciunt tofu stumptown aliqua butcher retro keffiyeh dreamcatcher synth.</blockquote>
                                            <br />
                                            <p class="url">
                                                <span class="fs1 text-info" aria-hidden="true" data-icon=""></span>
                                                <a href="#"><i class="fa fa-paperclip"></i> User Acceptance Test.doc </a>
                                            </p>
                                        </div>
                                    </li>
                                    <li>
                                        <img src="images/img.jpg" class="avatar" alt="Avatar">
                                        <div class="message_date">
                                            <h3 class="date text-error">21</h3>
                                            <p class="month">May</p>
                                        </div>
                                        <div class="message_wrapper">
                                            <h4 class="heading">Brian Michaels</h4>
                                            <blockquote class="message">Raw denim you probably haven't heard of them jean shorts Austin. Nesciunt tofu stumptown aliqua butcher retro keffiyeh dreamcatcher synth.</blockquote>
                                            <br />
                                            <p class="url">
                                                <span class="fs1" aria-hidden="true" data-icon=""></span>
                                                <a href="#" data-original-title="">Download</a>
                                            </p>
                                        </div>
                                    </li>
                                    <li>
                                        <img src="images/img.jpg" class="avatar" alt="Avatar">
                                        <div class="message_date">
                                            <h3 class="date text-info">24</h3>
                                            <p class="month">May</p>
                                        </div>
                                        <div class="message_wrapper">
                                            <h4 class="heading">Desmond Davison</h4>
                                            <blockquote class="message">Raw denim you probably haven't heard of them jean shorts Austin. Nesciunt tofu stumptown aliqua butcher retro keffiyeh dreamcatcher synth.</blockquote>
                                            <br />
                                            <p class="url">
                                                <span class="fs1 text-info" aria-hidden="true" data-icon=""></span>
                                                <a href="#"><i class="fa fa-paperclip"></i> User Acceptance Test.doc </a>
                                            </p>
                                        </div>
                                    </li>
                                </ul>
                                <!-- end of user messages -->


                            </div>


                        </div>

                        <!-- start project-detail sidebar -->
                        <div class="col-md-3 col-sm-3 col-xs-12">

                            <section class="panel">

                                <div class="x_title">
                                    <h2>Project Description</h2>
                                    <div class="clearfix"></div>
                                </div>
                                <div class="panel-body">
                                    <h3 class="green"><i class="fa fa-paint-brush"></i> @Model.Name</h3>

                                    <p>@Model.Description</p>
                                    <br />

                                    <div class="project_detail">

                                        <p class="title">Client Company</p>
                                        <p>@ViewBag.Submitters</p>
                                        <p class="title">Project Leader</p>
                                        <p>@ViewBag.PM</p>
                                    </div>

                                    <br />
                                    <h5>Project files</h5>
                                    <ul class="list-unstyled project_files">
                                        <li>
                                            <a href=""><i class="fa fa-file-word-o"></i> Functional-requirements.docx</a>
                                        </li>
                                        <li>
                                            <a href=""><i class="fa fa-file-pdf-o"></i> UAT.pdf</a>
                                        </li>
                                        <li>
                                            <a href=""><i class="fa fa-mail-forward"></i> Email-from-flatbal.mln</a>
                                        </li>
                                        <li>
                                            <a href=""><i class="fa fa-picture-o"></i> Logo.png</a>
                                        </li>
                                        <li>
                                            <a href=""><i class="fa fa-file-word-o"></i> Contract-10_12_2014.docx</a>
                                        </li>
                                    </ul>
                                    <br />

                                    <div class="text-center mtop20">
                                        <a href="#" class="btn btn-sm btn-primary">Add files</a>
                                        <a href="#" class="btn btn-sm btn-warning">Report contact</a>
                                    </div>
                                </div>

                            </section>

                        </div>
                        <!-- end project-detail sidebar -->

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- /page content -->
<!-- page content -->
@*<div class="right_col" role="main">
        <div class="">
            <div class="page-title">
                <div class="title_left">
                    <h3>My Projects</h3>
                </div>

                <div class="title_right">
                    <div class="col-md-5 col-sm-5 col-xs-12 form-group pull-right top_search">
                        <div class="input-group">
                            <input type="text" class="form-control" placeholder="Search for...">
                            <span class="input-group-btn">
                                <button class="btn btn-default" type="button">Go!</button>
                            </span>
                        </div>
                    </div>
                </div>
            </div>

            <div class="clearfix"></div>

            <div class="row">
                <div class="col-md-12 col-sm-12 col-xs-12">
                    <div class="x_panel">
                        <div class="x_title">
                            <h2>Details</h2>
                            <ul class="nav navbar-right panel_toolbox">
                                <li>
                                    <a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                                </li>
                                <li class="dropdown">
                                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"><i class="fa fa-wrench"></i></a>
                                    <ul class="dropdown-menu" role="menu">
                                        <li>
                                            <a href="#">Settings 1</a>
                                        </li>
                                        <li>
                                            <a href="#">Settings 2</a>
                                        </li>
                                    </ul>
                                </li>
                                <li>
                                    <a class="close-link"><i class="fa fa-close"></i></a>
                                </li>
                            </ul>
                            <div class="clearfix"></div>
                        </div>
                        <div class="x_content">
                            <h2>Details</h2>

                            <div>
                                <h4>Project</h4>
                                <hr />
                                <dl class="dl-horizontal">
                                    <dt>
                                        @Html.DisplayNameFor(model => model.Name)
                                    </dt>

                                    <dd>
                                        @Html.DisplayFor(model => model.Name)
                                    </dd>

                                    <dt>
                                        @Html.DisplayNameFor(model => model.Description)
                                    </dt>

                                    <dd>
                                        @Html.DisplayFor(model => model.Description)
                                    </dd>

                                    <dt>
                                        Project Manager
                                    </dt>
                                    <dd>
                                        @ViewBag.PM
                                    </dd>
                                    <dt>
                                        Submitter
                                    </dt>
                                    <dd>
                                        @ViewBag.Submitter
                                    </dd>
                                    <dt>
                                        Assigned Devs
                                    </dt>
                                    <dd>
                                        @foreach (var dev in ViewBag.Developers)
                                        {
                                            @dev
                                            <br />
                                        }
                                    </dd>
                                </dl>
                            </div>
                            <p>
                                @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
                                @Html.ActionLink("Back to List", "Index")
                            </p>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>*@
<!-- /page content -->
<!-- footer content -->
<footer>
    <div class="pull-right">
        A Lukas Parsons Portfolio Project. (2019)
    </div>
    <div class="clearfix"></div>
</footer>
<!-- /footer content -->