@model IEnumerable<LPBugTracker.Models.ApplicationUser>
@using LPBugTracker.Helpers
@using Microsoft.AspNet.Identity;
@{
    ViewBag.Title = "Index";

    var roleHelper = new UserRolesHelper();

    var userId = HttpContext.Current.User.Identity.GetUserId();
    var demoAdminId = "26222e84-ebd1-4b2c-97cd-875773afd07f";
    var userList = Model;

    if (userId == demoAdminId)
    {
        userList = Model.Where(u => u.Email.Contains("SolutionCenterDemo"));
    }

}

<div class="right_col" role="main">
    <div class="">
        <div class="page-title">
            <div class="title_left">
                <h3>Manage Users</h3>
            </div>
            
                <div class="title_right">
                    <div class="col-md-5 col-sm-5 col-xs-12 form-group pull-right top_search">
                        <div class="input-group">
                            <input type="text" class="form-control" placeholder="Search for...">
                            <span class="input-group-btn">
                                <button class="btn btn-default" type="button">Go!</button>
                            </span>
                        </div>
                    </div>
                </div>
        </div>
        <div class="row">
            @if (TempData["Message"] != null)
            {
                <p>@TempData["Message"]</p>
            }
            @*@if (roleHelper.IsUserInRole(userId, "Admin"))
            {
                @Html.ActionLink("Fix null Profile Pictures", "FixProfilePictures", "Admin", null, new { @class = "btn btn-primary " })
            }*@
        </div>
        <div class="clearfix"></div>
        <div class="row">
            <div class="col-md-12 col-sm-12 col-xs-12">
                <div class="x_panel">
                    <div class="x_title">
                        <h2>Users</h2>
                        <ul class="nav navbar-right panel_toolbox">
                            <li>
                                <a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                            </li>
                            <li class="dropdown">
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"><i class="fa fa-wrench"></i></a>
                                <ul class="dropdown-menu" role="menu">
                                    <li>
                                        <a href="#">Settings 1</a>
                                    </li>
                                    <li>
                                        <a href="#">Settings 2</a>
                                    </li>
                                </ul>
                            </li>
                            <li>
                                <a class="close-link"><i class="fa fa-close"></i></a>
                            </li>
                        </ul>
                        <div class="clearfix"></div>
                    </div>
                    <div class="x_content">
                        @*<p>
                                @Html.ActionLink("Create New", "Create", null, new { @class = "btn btn-primary" })
                            </p>*@
                        <div class="row">
                            <table class="table jq-data">
                                <thead>
                                    <tr>
                                        <th>
                                            @Html.DisplayNameFor(model => model.FirstName)
                                        </th>
                                        <th>
                                            @Html.DisplayNameFor(model => model.LastName)
                                        </th>
                                        <th>
                                            @Html.DisplayNameFor(model => model.DisplayName)
                                        </th>

                                        <th>
                                            @Html.DisplayNameFor(model => model.Email)
                                        </th>
                                        <th>
                                            @Html.DisplayNameFor(model => model.PhoneNumber)
                                        </th>
                                        <th>
                                            @Html.DisplayName("Role(s)")
                                        </th>
                                        <th></th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var item in userList)
                                    {
                                        <tr>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.FirstName)
                                            </td>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.LastName)
                                            </td>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.DisplayName)
                                            </td>

                                            <td>
                                                @Html.DisplayFor(modelItem => item.Email)
                                            </td>

                                            <td>
                                                @Html.DisplayFor(modelItem => item.PhoneNumber)
                                            </td>
                                            <td>
                                                @{
                                                    var role = roleHelper.ListUserRoles(item.Id);
                                                }
                                                @role.FirstOrDefault()
                                            </td>
                                            <td>
                                                @if (User.IsInRole("Admin"))
                                                {
                                                    @Html.ActionLink("Edit", "Edit", new { id = item.Id })<span> |</span>

                                                }


                                                @Html.ActionLink("Details", "Details", new { id = item.Id }) |
                                                @Html.ActionLink("Delete", "Delete", new { id = item.Id })
                                            </td>
                                        </tr>
                                    }
                                </tbody>
                            </table>
                        </div>

                    </div>
                </div>
            </div>
        </div>


    </div>
</div>
<!-- footer content -->
<footer>
    <div class="pull-right">
        A Lukas Parsons Portfolio Project. (2019)
    </div>
    <div class="clearfix"></div>
</footer>
<!-- /footer content -->
<h2>Index</h2>


