@model IEnumerable<LPBugTracker.Models.TicketNotification>

@{
    ViewBag.Title = "Index";
}

<!-- page content -->
<div class="right_col" role="main">
    <div class="">
        <div class="page-title">
            <div class="title_left">
                <h3>Notifications</h3>
                @Html.ActionLink("View All Notifications", "AllNotifications", "TicketNotifications", null, new { @class = "btn btn-primary" })
            </div>
        </div>
        <div class="clearfix"></div>
        <div class="row">
            <div class="col-md-12 col-sm-12 col-xs-12">
                <div class="x_panel">
                    <div class="x_title">
                        <h2>My Notifications</h2>
                        <ul class="nav navbar-right panel_toolbox">
                            <li>
                                <a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                            </li>
                        </ul>
                        <div class="clearfix"></div>
                    </div>
                    <div class="x_content">
                        <table class="table jq-data">
                            <thead>
                                <tr>
                                    <th>    
                                        Ticket Title
                                    </th>
                                    <th>
                                        @Html.DisplayNameFor(model => model.Message)
                                    </th>
                                    <th>
                                        @Html.DisplayNameFor(model => model.Created)
                                    </th>
                                    <th>Mark As Read</th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var item in Model)
                                {
                                    <tr>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.Ticket.Title)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.Message)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.Created)
                                        </td>
                                        @using (Html.BeginForm("MarkAsRead", "TicketNotifications", FormMethod.Post))
                                        {
                                           @Html.Hidden("notificationId", item.Id)
                                        <td>
                                            <button class="btn btn-sm btn-primary"><i class="fa fa-check"></i> Read</button>
                                        </td>
                                        }
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- /page content -->



